<div class="row panel">
  <div class="small-3 columns">
    <h5>Vous recevez :</h5>
  </div>

  <div class="small-3 columns">
    <h5 class="text-center">Chunk :</h5>

    <div class="row">
      <div class="small-3 columns"><img src="http://placehold.it/64x64"></div>

      <div class="small-9 columns">
        <p>Grass / Plain</p>
        <hr>

        <p class="text-center">Stone (+8)</p>

        <p class="text-center">Wood (+6)</p>

        <p class="text-center">Water (+5)</p>
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <h5 class="text-center">Bâtiment(s) :</h5>

    <div class="row">
      <div class="small-2 columns"><img src="http://placehold.it/32x32"></div>

      <div class="small-10 columns">
        <p>House (Niveau 1)</p>
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <h5 class="text-center">Ressources :</h5>

    <h5 class="subheader">Raw</h5>

    <div class="row">
      <div class="small-2 columns"><img src="http://placehold.it/32x32"></div>

      <div class="small-10 columns">
        <p>Cobblestone (x60)</p>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns"><img src="http://placehold.it/32x32"></div>

      <div class="small-10 columns">
        <p>Wood (x40)</p>
      </div>
    </div>

    <div class="row">
      <div class="small-offset-1 small-11 columns">
        <h6 class="subheader">Food</h6>

        <div class="row">
          <div class="small-2 columns"><img src=
          "http://placehold.it/32x32"></div>

          <div class="small-10 columns">
            <p>Bread (x12)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to "Woah, this is great! Let's play!", game_getting_started_play_path, class:"large success button expand" %>
</div>
